{% extends "base.html" %}

{% block subtitle %}- Dashboard{% endblock %}

{% block content %}
  <h1>Dashboard</h1>
  <h3>Hi {{ request.user.username }} :-)</h3>
  <h3>Total scrobbles: {{ total_scrobbles }}</h3>
  <hr/>
  <h3>Recent scrobbles:</h3>
  <ul>
      {% for scrobble in last_scrobbles %}
          <li>
            [{{ scrobble.scrobble_date.strftime("%Y-%m-%d %H:%M") }}]

            <a href="{{ url('artist-personal-ranking', kwargs={'artist_id': scrobble.track.artist_id}) }}">
              {{ scrobble.track.artist.name }}
            </a>
            - {{ scrobble.track.name }}
          </li>
      {% endfor %}
  </ul>

  <div class="grid-container">
    <div class="grid-column">
      {% with ranking=top_tracks %}
        {% include "rankings/_ranking.html" %}
      {% endwith %}
    </div>
    <div class="grid-column">
      {% with ranking=top_artists %}
        {% include "rankings/_ranking.html" %}
      {% endwith %}
    </div>
  </div>

{% endblock %}