{% extends "base.html" %}

{% block content %}
  <h1>Dashboard</h1>
  <h3>Hi {{ request.user.username }} :-)</h3>
  <h3>Total scrobbles: {{ total_scrobbles }}</h3>
  <hr/>
  <h3>Recent scrobbles:</h3>
  <ul>
      {% for scrobble in last_scrobbles %}
          <li>
            [{{ scrobble.scrobble_date.strftime("%Y-%m-%d %H:%M") }}] {{ scrobble.track.artist.name }} - {{ scrobble.track.name }}
          </li>
      {% endfor %}
  </ul>

  <div class="grid-container">
    <div class="grid-column">
      <h3>Top tracks:</h3>
      <ol>
          {% for row in top_tracks %}
              <li>{{ row.track__artist__name }} - {{ row.track__name }} {{ row.count }}</li>
          {% endfor %}
      </ol>
    </div>
    <div class="grid-column">
      <h3>Top artists:</h3>
      <ol>
          {% for row in top_artists %}
              <li>{{ row.track__artist__name }} {{ row.count }}</li>
          {% endfor %}
      </ol>
    </div>
  </div>

{% endblock %}